# General
numpy
pandas
pip
# os #bulit-in python

# API
fastapi
uvicorn

# Model
  # Trick to install the version of Tensorflow depending on your processor: darwin == Mac, ARM == M1
tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
tensorflow==2.10.0; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips
  # End of trick
keras
transformers
sentencepiece

#Google Cloud Plateform
#google-cloud-storage # on devrait supprimer ce package car on a finalement mis les model_weights dans le docker !
#google-cloud
